body{
	padding: 0;
  margin: 0;
  background-color: white;
	height: 100%;
	font-family: sans-serif;
}

/* NAVBAR */
.navbar{
	width: 100vw;
	height: auto;
	background-color: #006680;
	color: white;
	display: table-row-group;
	overflow: hidden;
  position: relative;
 	top: 0;
}

.navbar_list{
	height: auto;
  width: inherit;
  list-style: none;
	padding-left: 0;
}

.navbar_list li {
	height: inherit;
  display: inline;
  margin: 1.5%;
  font-size: 1.3em;
  vertical-align: middle;
  padding-bottom: 10px;
	padding-top: 10px;
}

.navbar_list a {
	height: inherit;
  width: inherit;
  color: inherit;
	text-decoration: none;
}

/*MAIN BODY*/
.intro_title{
	width: 100%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	text-align:justify;
	border-bottom-style: solid;
	border-color:#006680;
}
#text_title{
	font: 35px Arial;
}
#text_subtitle{
	font-style: italic;
	font: 18px Arial;
}
.container{
	padding-top: 20px;

	height: 100%;
	position: relative;
	margin-left: 1.5%;
}

.container::after{
	content: "";
	clear:both;
	display:both;
}

.main_article{
	width: 70%;
	float: left;
	text-align: justify;
	font: inherit;
}

.main_article:visited{
	color:inherit;
}

.side_photo{
	width:auto;
	margin: 1.5%;
	float: left;
}

.side_photo img{
	width:180px;
	height:180px;
	vertical-align:middle;
	border-radius: 4px;
	float:left;
}

.main_table{
	width:67%;
	float:left;
	margin: 0 1.5%;
	font: Arial;
}

.main_table table, td, th{
	text-align: center;
}

.main_table tbody{
	border: 1px solid #006680;
}

#table_head{
	background-color: #00b8e6;
	border-bottom: 1px solid #006680;
}

#even_row{
	background-color: #ccd9ff;
}

#marks_ok{
	color:darkgreen;
}

#marks_no{
	color:darkred;
}

#left{
	text-align:left;
}

/*FOOTER*/
.myfooter{
	font-family: serif;
	font:Times;
	font-style: italic;
	clear: both;
	width:100%;
	margin-left: 1.5%;

	padding-top: 10vw;
}

.myfooter img{
	float:left;
	width:80px;
	height:80px;
	margin:0 1.5%;
}
.foot_text{
	float:left;
}

#line{
	border-top-style: solid;
	border-color:#006680;
	width: 100%;
}
